<div class="container mg-t-20 mg-b-20" nz-row nzAlign="middle" nzJustify="space-between">
  <div nz-row nzAlign="middle">
    <div class="mg-r-35 item-header" style="color: var(--primary-color); font-weight: 600; font-size: 24px;">StyleNest</div>
    <div class="mg-r-20 item-header">TRANG CHỦ</div>
    <div class="mg-r-20 item-header">SẢN PHẨM MỚI</div>
    <div class="mg-r-20 item-header">SALE</div>
  </div>

  <div nz-row nzAlign="middle">
    <div>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Tìm kiếm" />
      </nz-input-group>
    </div>
    <div class="mg-l-25 item-header" style="text-align: center;">
      <span nz-icon nzType="appstore" nzTheme="outline"></span>
      <div>Cửa hàng</div>
    </div>
    <div class="mg-l-25 item-header" style="text-align: center;">
      <span nz-icon nzType="user-add" nzTheme="outline"></span>
      <div>Tài khoản</div>
    </div>
    <div class="mg-l-25 item-header" style="text-align: center;">
      <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
      <div>Giỏ hàng</div>
    </div>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>