:host {
    text-align: center;
}

input {
    height: 25px !important;
}

.item-header {
    font-size: 14px;
    font-weight: 400;
}

.item-header:hover {
    color: var(--primary-color);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

nz-header,
nz-footer {
    background: #fff;
    color: #262626;
    font-size: 16px;
    font-weight: 400;
}

nz-footer {
    line-height: 1.5;
}

nz-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
}

nz-content {
    background: rgba(16, 142, 233, 1);
    color: #fff;
    min-height: 120px;
    line-height: 120px;
}

nz-layout {
    margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
    margin: 0;
}

nz-input-group input{
    height: 40px !important;
}

.item-footer div{
    font-size: 12px;
}

.item-footer-2 div{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.icon-contact span{
    font-size: 30px;
    color: #555555;
    margin-right: 20px;
}

.icon-contact span:hover{
    cursor: pointer;
    color: var(--primary-color);
    transition: all .3s linear;
}