<div class="mg-b-20">
    <nz-card nz-popover nzHoverable style="width: 100%" [nzCover]="coverTemplate" nzPopoverTitle="{{data.name}}"
        nzPopoverContent="Xem chi tiết">
        <div nz-row nzJustify="center" class="mg-b-10">
            <div *ngFor="let color of colorList" class="mg-l-5 mg-r-5">
                <input type="radio" name="color" [value]="color" [(ngModel)]="colorSelected"
                    [style.background-color]="color" />
                <!-- <label [style.color]="color">{{ color.name }}</label> -->
            </div>
        </div>
        <nz-card-meta nzTitle="{{data.name | truncate}}" nzDescription="{{data.price | vndCurrency}}"></nz-card-meta>
    </nz-card>
</div>
<ng-template #coverTemplate>
    <img alt="example" src="{{img}}" />
</ng-template>