<div class="container mg-t-40 mg-b-40" style="display: grid; grid-template-columns: 1.6fr 1fr; gap: 40px">
    <div>
        <h3 nz-typography nz-row nzJustify="center" nzAlign="middle">
            Thông tin giao hàng
        </h3>
        <form nz-row nz-form nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()"
            style="width: 100%;">
            <nz-form-item nz-col nzSpan="12">
                <nz-form-label nzRequired>Họ tên</nz-form-label>
                <nz-form-control
                    [nzErrorTip]="validateForm.get('name')?.errors?.['required'] ? 'Họ tên là bắt buộc' : ''">
                    <input type="text" nz-input formControlName="name" placeholder="Nhập họ tên" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="12">
                <nz-form-label nzRequired>Số điện thoại</nz-form-label>
                <nz-form-control
                    [nzErrorTip]="validateForm.get('tel')?.errors?.['tel'] ? 'Số điện thoại bắt buộc' : ''">
                    <input type="number" nz-input formControlName="tel" placeholder="Nhập số điện thoại" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-col nzSpan="24">
                <nz-form-label nzRequired>Địa chỉ</nz-form-label>
                <nz-form-control
                    [nzErrorTip]="validateForm.get('address')?.errors?.['required'] ? 'Địa chỉ là bắt buộc' : ''">
                    <input type="text" nz-input type="address" formControlName="address"
                        placeholder="Nhập địa chỉ giao hàng" />
                </nz-form-control>
            </nz-form-item>
        </form>

        <div class="mg-t-50" nz-row nzJustify="space-between" nzAlign="middle">
            <div>
                <div style="font-size: 14px; font-weight: 600;">
                    <span style="font-size: 18px;" nz-icon nzType="car" nzTheme="outline"></span>
                    <span class="mg-l-10">Phương thức vận chuyển</span>
                </div>
                <div class="mg-t-10" style="font-size: 12px;">Cập nhật thông tin giao hàng để xem chi phí và thời gian
                    giao hàng.</div>
            </div>
            <div>
                <div style="font-size: 14px; font-weight: 600;">
                    <span style="font-size: 18px;" nz-icon nzType="wallet" nzTheme="outline"></span>
                    <span class="mg-l-10">Phương thức thanh toán</span>
                </div>
                <div class="mg-t-10" style="font-size: 12px;">
                    Thanh toán khi nhận hàng (COD)
                </div>
            </div>
        </div>
    </div>
    <div>
        <nz-steps [nzCurrent]="2" nzSize="small">
            <nz-step nzTitle="Giỏ hàng"></nz-step>
            <nz-step nzTitle="Đặt hàng"></nz-step>
            <nz-step nzTitle="Hoàn tất"></nz-step>
        </nz-steps>

        <div class="mg-t-25">
            <h2>Chi tiết đơn hàng</h2>
            <div nz-row nzJustify="space-between" style="font-size: 14px;">
                <div>Giá trị đơn hàng</div>
                <div>{{total + 100000  | vndCurrency}}</div>
            </div>
            <div nz-row nzJustify="space-between" style="font-size: 14px;">
                <div>
                    Giảm giá
                </div>
                <div>100000</div>
            </div>
            <hr class="dashed-line">
            <div nz-row nzJustify="space-between" style="font-size: 14px; font-weight: 500;">
                <div>Tổng tiền thanh toán</div>
                <div>{{total | vndCurrency}}</div>
            </div>
        </div>
        <button class="mg-t-30" nz-button nzType="primary" (click)="submitForm()">Thanh toán</button>
    </div>
</div>